/frontend22/node_modules/
/frontend22/.yarn/
/frontend22/.pnp/
/frontend22/.pnp.js

/frontend22/.env
/frontend22/.env.qa

/frontend22/dist/
/frontend22/build/

/frontend22/.eslintcache
/frontend22/yarn-error.log
/frontend22/npm-debug.log

**/__pycache__/
/backend/**/*.pyc

/backend/flask1/files/temp/*
!/backend/flask1/files/temp/.gitkeep

/backend/flask1/files/uploads/*
!/backend/flask1/files/uploads/.gitkeep

/backend/flask1/files/output_final/*
!/backend/flask1/files/output_final/.gitkeep

/backend/flask1/files/outputaudio/*
!/backend/flask1/files/outputaudio/.gitkeep

/backend/flask1/files/reference_audios/*
!/backend/flask1/files/reference_audios/.gitkeep
